---
title: Eva-group
---
{% extends "layouts/_layout.html" %}

{% block content %}
{% include "partials/_header.html" %}
<div class="fscreen js-fscreen">
	<div class="l">
		<h1 class="fscreen__title title-lg">Начни зарабатывать <br>
			<span>уже сегодня</span>
		</h1>
		<div class="fscreen__inner">
			{% import "data/data.html" as tests %}
			{% for test in tests.list %}
			<a class="hexagon {% if test.jsLink %}js-scroll {% endif %}"
			data-scroll='{% if test.jsLink %}{{test.scrollTo}}{% endif %}'
			href='{% if test.jsLink %}#{% else %}https://eva-group.net/sign-up {% endif %}'
			style="background-image: url('img/hexagon-bg.png');">
			<div class="hexagon__img">
				{{mixins.icon(test.img)}}
			</div>
			<p class="hexagon__main-text">{{test.mainText}}</p>
			<p class="hexagon__sec-text">{{test.secText}}</p>
			<div class="hexagon__hover">{{mixins.icon('hex-hover')}}</div>
		</a>
		{% endfor %}
	</div>
</div>
</div>
<!--begin stat-list-->
<div class="stat-list">
	<div class="l">
		<div class="stat-list__inner">
			{% import "data/data.html" as tests %}
			{% for test in tests.stat %}
			<div class="stat-block" data-aos-once="true"  data-aos="slide-up" data-aos-delay="{{test.delay}}">
				<p class="stat-block__main-text" >{{test.mainText}}<span>+</span></p>
				<p class="stat-block__sec-text">{{test.secText}}</p>
			</div>
			{% endfor %}
		</div>

	</div>
</div>
<!--end stat-list-->
<!--begin about-->
<div class="about js-about">
	<div class="l">
		<h2 class="title-m title-m--blue about__title">
			Немного <span>о нас</span>
		</h2>
		<div class="about__inner">
			<div class="about__left article">
				<p>Koмпания EVA Group создана инвесторами для инвесторов. </p>
				<p>В нашей команде специалисты с большим опытом работы в различных сферах и направлениях. </p>
				<p>Управляющие биржевыми инструментами показывают свою продуктивность и профессионализм на протяжении длительного времени. </p>
				<p>Специалисты по анализу криптовалют совершают торговые операции не только по тренду на долгосрочную перспективу, но открывают и короткие позиции, что позволяет обеспечить стабильные и высокие показатели доходности.</p>
				<p>Аналитики в направлении спортивного анализа разработали уникальный программный комплекс, который круглосуточно занимается анализом спортивных событий и делает прогнозы с высокой точностью тем самым обеспечивая надежность и уверенность в этом направлении. </p>
			</div>
			<div class="about__right">
				<div class="about__list">
					{% import "data/data.html" as tests %}
					{% for test in tests.about %}
					<div class="about__item">
						<i class="about__icon">
							{{mixins.icon(test.img)}}
						</i>
						<span>
							{{test.text}}
						</span>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</div>
<!--end about-->
<!--begin plans-->
<div class="plans js-plans">
	<div class="l">
		<h2 class="plans__title title-m title-m--white"><span>Тарифные планы</span></h2>

		<div class="plans__list">
			{% import "data/data.html" as tests %}
			{% for test in tests.plans %}
			<div class="plan plan--{{test.name}}">
				<div class="plan__top">
					<p class="plan__name">{{test.name}}</p>
					<p class="plan__perc"><span>{{test.perc}}</span> <br> в неделю</p>
					<div class="plan__bg-line" style="background-image: url('img/plan-line.png');"></div>
				</div>
				<div class="plan__bottom">
					<p class="plan__deposit">Мин. депозит {{test.deposit}} USD</p>
					<div class="plan__inner">
						<div class="plan__line">
							<span>Срок</span>
							<span>180 дней</span>
						</div>
						<div class="plan__line">
							<span>Вывод*%</span>
							<span>еженед.</span>
						</div>
						<div class="plan__line">
							<span>Прибыль**</span>
							<span>{{test.profit}}</span>
						</div>
						<div class="plan__line">
							<span>Партнеру</span>
							<span>{{test.partner}}</span>
						</div>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
		<div class="plans__descr">
			<p>* Начисление и вывод прибыли по депозиту происходит один раз в неделю по субботам.
			</p>
			<p>
				** Указана чистая прибыль клиента БЕЗ возврата тела депозита. Тело возвращается равными частями (по 3.85% в неделю)
			</p>
		</div>
		<a  class="btn   plans__btn" href="https://eva-group.net/sign-up">Зарегистрироваться</a>
	</div>
</div>
<!--end plans-->
<!--begin earn-->
<div class="earn">
	<div class="l">
		<h2 class="title-m title-m--blue earn__title">Как мы зарабатываем <span>для Вас деньги</span></h2>
		<div class="two-col earn__two-col">
			<div class="two-col__left">
				<div class="earn__steps">
					<div class="step">
						<div class="step__img">
							{{mixins.icon('earn1')}}
						</div>
						<p class="step__text">Вы оформляете депозит <br> в личном кабинете</p>
						<div class="step__icon">1</div>
					</div>
					<div class="step step--right">
						<div class="step__img">
							{{mixins.icon('earn2')}}
						</div>
						<p class="step__text">Мы принимаем в работу и, 
							распределяя по инструментам,
							зарабатываем деньги
						</p>
						<div class="step__icon">2</div>
					</div>
					<div class="step">
						<div class="step__img">
							{{mixins.icon('earn3')}}
						</div>
						<p class="step__text">Прибыль распределяется <br>
							между клиентом <br>
							и компанией
						</p>
						<div class="step__icon">3</div>
					</div>
					<div class="step step--right">
						<div class="step__img">
							{{mixins.icon('earn4')}}
						</div>
						<p class="step__text">Вы получаете свой <br>
							заработок
						</p>
						<div class="step__icon">4</div>
					</div>
				</div>
			</div>
			<div class="two-col__right article">
				<p>В нашей команде специалисты с большим опытом работы в различных сферах и направлениях. 
				</p>
				<p>Управляющие биржевыми инструментами показывают свою продуктивность и профессионализм на протяжении длительного времени. </p>
				<p>Специалисты по анализу криптовалют совершают торговые операции не только по тренду на долгосрочную перспективу, но открывают и короткие позиции, что позволяет обеспечить стабильные и высокие показатели доходности.</p>
				<p>Аналитики в направлении спортивного анализа разработали уникальный программный комплекс, который круглосуточно занимается анализом спортивных событий и делает прогнозы с высокой точностью тем самым обеспечивая надежность и уверенность в этом направлении. 
				</p>
			</div>
		</div>
	</div>
</div>
<!--end earn-->

<!--begin partner-prog-->
<div class="pprog js-pprog">
	<div class="l">
		<h2 class="title-m title-m--white pprog__title"><span>Партнерская программа</span></h2>
		<div class="pprog__descr-top article">
			<p>
				Наша команда понимает, что однимиз основных инструментов успешного развития компании в любой сфере являются надежные партнеры. Для наших партнёров мы разработали многоуровневую систему партнерской программы, которая является достойным вознаграждением за сотрудничество.
			</p>
			<p>
				Партнерское вознаграждение выплачивается из прибыли клиента. Тем самым наши партнеры получают вознаграждение на протяжении всего срока действия депозитов и со своей структуры.
			</p>
		</div>
		<h3 class="title-s pprog__sec-title">Вознаграждение по тарифным планам клиентов</h3>
		<!-- begin pprog__inner -->
		<div class="pprog__inner">
			<!--begin program table-->
			<div class="ptable">
				<div class="ptable__col ptable__col--first">
					<div class="ptable__cell ptable__cell--name"></div>
					<div class="ptable__cell ptable__cell--desc">С 1-го уровня</div>
					<div class="ptable__cell ptable__cell--desc">Со 2-го уровня</div>
					<div class="ptable__cell ptable__cell--desc">С 3-го уровня</div>
				</div>
				<div class="ptable__col">
					<div class="ptable__cell ptable__cell--name">Bronze</div>
					<div class="ptable__cell">7%</div>
					<div class="ptable__cell">2%</div>
					<div class="ptable__cell">-</div>
				</div>
				<div class="ptable__col">
					<div class="ptable__cell ptable__cell--name">Silver</div>
					<div class="ptable__cell">8,5%</div>
					<div class="ptable__cell">2,5%</div>
					<div class="ptable__cell">1%</div>
				</div>
				<div class="ptable__col">
					<div class="ptable__cell ptable__cell--name">Gold</div>
					<div class="ptable__cell">11%</div>
					<div class="ptable__cell">3,5%</div>
					<div class="ptable__cell">1,5%</div>
				</div>
				<div class="ptable__col">
					<div class="ptable__cell ptable__cell--name">Platinum</div>
					<div class="ptable__cell">15%</div>
					<div class="ptable__cell">5%</div>
					<div class="ptable__cell">2%</div>
				</div>
				<div class="ptable__col">
					<div class="ptable__cell ptable__cell--name">Diamond</div>
					<div class="ptable__cell">18%</div>
					<div class="ptable__cell">7%</div>
					<div class="ptable__cell">3%</div>
				</div>
			</div>
			<!--end program table-->
		</div>
		<!-- end pprog__inner -->

		<p class="pprog__descr-bottom">
			* Вознаграждение рассчитывается от чистой прибыли клиента, без учета взврта тела депозита. Начисление и выплата вознаграждения происходит еженедельно при начислении прибыликлиентам. Вывод доступен в любой момент.
		</p>
		<a href="https://eva-group.net/sign-up"  class="btn pprog__btn-reg">Зарегистрироваться</a>
	</div>
</div>
<!--end partner-prog-->
<!-- begin callback -->
<div class="callback js-callback">
	<div class="l">
		<div class="two-col callback__two-col">
			<div class="two-col__left">
				<p>Мы всегда будем рады ответить на все вопросы
					Вы можете написать нам на почту
				</p>
				<div class="callback__inner">
					<a class="callback__link" href="mailto:support@eva-group.net">support@eva-group.net</a>
					<a class="callback__link" href="mailto:info@eva-group.net">info@eva-group.net</a>
					<a class="callback__link" href="mailto:partners@eva-group.net">partners@eva-group.net</a>
				</div>
				<p>С нами можно связаться также по телефону</p>
				<a class="btn-border js-popup-link" data-popup-open="popup-callback" href="#">Заказать звонок</a>
			</div>
			<div class="two-col__right">
				<p>Если не хотите писать то можете оставить
					сообщение
				</p>
				<div class="callback__form">
					<form class="formspree" action="https://formspree.io/inspektorme@gmail.com" method="POST" >
						<input class="field" name="name" required type="text" placeholder="Ваше имя">
						<input class="field" name="email" required type="text" placeholder="Ваш Email">
						<textarea class="field field--textarea" required name="question" placeholder="Ваш вопрос"></textarea>
						<input class="btn-border btn-border--reverse callback__submit" type="submit" value="Отправить">
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end callback -->
<!-- begin payment system -->
<div class="psystem">
	<div class="l">
		<h2 class="title-m title-m--blue psystem__title"><p>Поддерживаемые <span>платежные системы</span></p></h2>
		<div class="psystem__list">
			<div class="psystem__img">
				<img src="img/psystem1.png" alt="alt">
			</div>
			<div class="psystem__img">
				<img src="img/psystem2.png" alt="alt">
			</div>
			<div class="psystem__img">
				<img src="img/psystem3.png" alt="alt">
			</div>
			<div class="psystem__img">
				<img src="img/psystem4.png" alt="alt">
			</div>
			<div class="psystem__img">
				<img src="img/psystem5.png" alt="alt">
			</div>
			<div class="psystem__img">
				<img src="img/psystem6.png" alt="alt">
			</div>
		</div>
	</div>
</div>
<!-- end payment system -->
{% include "partials/_footer.html" %}
{% include "partials/_popups.html" %}
{% endblock %}
