---
title: Eva-group
---
{% extends "layouts/_layout.html" %}

{% block content %}
<header class="header">
	<!--begin l-->
	<div class="l">
		<div class="heder__logo">
			<a href="#">
				<img src="img/logo.png" alt="logo">
			</a>
		</div>
		<div class="menu-btn"><span></span></div>
		<div class="header__menu">
			<a href="#">Главная</a>
			<a href="#">О компании</a>
			<a href="#">Инвесторам</a>
			<a href="#">Партнерам</a>
			<a href="#">Обратная связь</a>
		</div>
		<div class="header__user">W
			<a class="login" href="#">Вход   /</a>
			<a class="registration" href="#">   Регистрация</a>
			<a class="vk" href="#"></a>
		</div>
	</div>
	<!--end l-->

</header>
<div class="fscreen">
	<div class="l">
		<h1 class="fscreen__title title-lg">Начни зарабатывать <br>
			<span>уже сегодня</span>
		</h1>
		<div class="fscreen__inner">
			{% import "data/data.html" as tests %}
			{% for test in tests.list %}
			<div class="hexagon">
				<div class="hexagon__img">
					{{mixins.icon(test.img)}}
				</div>
				<p class="hexagon__main-text">{{test.mainText}}</p>
				<p class="hexagon__sec-text">{{test.secText}}</p>
			</div>
			{% endfor %}
		</div>
	</div>
</div>
<!--begin stat-list-->
<div class="stat-list">
	<div class="l">
		{% import "data/data.html" as tests %}
		{% for test in tests.stat %}
		<div class="stat-block">
			<p class="stat-block__main-text">{{test.mainText}}</p>
			<div class="stat-block__sec-text">{{test.secText}}</div>
		</div>
		{% endfor %}
	</div>
</div>
<!--end stat-list-->
<!--begin about-->
<div class="about">
	<div class="l">
		<h2 class="title-m title-m--blue about__title">
			Немного <span>о нас</span>
		</h2>
		<div class="about__inner">
			<div class="about__left">
				<p>Koмпания EVA Group создана инвесторами для инвесторов. </p>
				<p>В нашей команде специалисты с большим опытом работы в различных сферах и направлениях. </p>
				<p>Управляющие биржевыми инструментами показывают свою продуктивность и профессионализм на протяжении длительного времени. </p>
				<p>Специалисты по анализу криптовалют совершают торговые операции не только по тренду на долгосрочную перспективу, но открывают и короткие позиции, что позволяет обеспечить стабильные и высокие показатели доходности.</p>
				<p>Аналитики в направлении спортивного анализа разработали уникальный программный комплекс, который круглосуточно занимается анализом спортивных событий и делает прогнозы с высокой точностью тем самым обеспечивая надежность и уверенность в этом направлении. </p>
			</div>
			<div class="about__right">
				<div class="about__list">
					{% import "data/data.html" as tests %}
					{% for test in tests.about %}
					<div class="about__item">
						<i class="about__icon">
							{{mixins.icon(test.img)}}
						</i>
						<span>
							{{test.text}}
						</span>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</div>
<!--end about-->
<!--begin plans-->
<div class="plans">
	<div class="l">
		<h2 class="plans__title title-m title-m--white">Тарифные планы</h2>

		<div class="plans__list">
			{% import "data/data.html" as tests %}
			{% for test in tests.plans %}
			<div class="plan">
				<div class="plan__top">
					<p class="plan__name">{{test.name}}</p>
					<p class="plan__perc"><span>{{test.perc}}</span> <br> в неделю</p>

				</div>
				<div class="plan__bottom">
					<p class="plan-deposit">Мин. депозит {{test.deposit}} USD</p>
					<div class="plan__inner">
						<div class="plan__line">
							<span>Срок</span>
							<span>180 дней</span>
						</div>
						<div class="plan__line">
							<span>Вывод*%</span>
							<span>еженед.</span>
						</div>
						<div class="plan__line">
							<span>Прибыль**</span>
							<span>{{test.profit}}</span>
						</div>
						<div class="plan__line">
							<span>Партнеру</span>
							<span>{{test.partner}}</span>
						</div>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
		<div class="plans__descr">
			<p>* Начисление и вывод прибыли по депозиту происходит один раз в неделю по субботам.
			</p>
			<p>
				** Указана чистая прибыль клиента БЕЗ возврата тела депозита. Тело возвращается равными частями (по 3.85% в неделю)
			</p>
		</div>
	</div>
</div>
<!--end plans-->
<!--begin earn-->
<div class="earn">
	<div class="l">
		<h2 class="title-m title-m--blue">Как мы зарабатываем <span>для Вас деньги</span></h2>
		<div class="two-col">
			<div class="two-col__left">
				<div class="earn__steps">
					<div class="step">
						<div class="step__img">
							{{mixins.icon('earn1')}}
						</div>
						<p class="step__text">Вы оформляете депозит в личном кабинете</p>
						<div class="step__icon"></div>
					</div>
					<div class="step">
						<div class="step__img">
							{{mixins.icon('earn2')}}
						</div>
						<p class="step__text">Мы принимаем в работу и, 
							распределяя по инструментам,
							зарабатываем деньги
						</p>
						<div class="step__icon"></div>
					</div>
					<div class="step">
						<div class="step__img">
							{{mixins.icon('earn3')}}
						</div>
						<p class="step__text">Прибыль распределяется
							между клиентом
							и компанией
						</p>
						<div class="step__icon"></div>
					</div>
					<div class="step">
						<div class="step__img">
							{{mixins.icon('earn4')}}
						</div>
						<p class="step__text">Вы получаете свой
							заработок
						</p>
						<div class="step__icon"></div>
					</div>
				</div>
			</div>
			<div class="two-col__right">
				<p>В нашей команде специалисты с большим опытом работы в различных сферах и направлениях. 
				</p>
				<p>Управляющие биржевыми инструментами показывают свою продуктивность и профессионализм на протяжении длительного времени. </p>
				<p>Специалисты по анализу криптовалют совершают торговые операции не только по тренду на долгосрочную перспективу, но открывают и короткие позиции, что позволяет обеспечить стабильные и высокие показатели доходности.</p>
				<p>Аналитики в направлении спортивного анализа разработали уникальный программный комплекс, который круглосуточно занимается анализом спортивных событий и делает прогнозы с высокой точностью тем самым обеспечивая надежность и уверенность в этом направлении. 
				</p>
			</div>
		</div>
	</div>
</div>
<!--end earn-->

<!--begin partner-prog-->
<div class="pprog">
	<div class="l">
		<h2 class="title-m title-m--white pprog__title">Партнерская программа</h2>
		<div class="pprog__descr-top">
			<p>
				Наша команда понимает, что однимиз основных инструментов успешного развития компании в любой сфере являются надежные партнеры. Для наших партнёров мы разработали многоуровневую систему партнерской программы, которая является достойным вознаграждением за сотрудничество.
			</p>
			<p>
				Партнерское вознаграждение выплачивается из прибыли клиента. Тем самым наши партнеры получают вознаграждение на протяжении всего срока действия депозитов и со своей структуры.
			</p>
		</div>
		<h3 class="title-s pprog__sec-title">Вознаграждение по тарифным планам клиентов</h3>
		<!--begin program table-->
		<div class="ptable">
			<div class="ptable__col ">
				<div class="ptable__cell"></div>
				<div class="ptable__cell">С 1-го уровня</div>
				<div class="ptable__cell">Со 2-го уровня</div>
				<div class="ptable__cell">С 3-го уровня</div>
			</div>
			<div class="ptable__col">
				<div class="ptable__cell">Bronze</div>
				<div class="ptable__cell">7%</div>
				<div class="ptable__cell">2%</div>
				<div class="ptable__cell">-</div>
			</div>
			<div class="ptable__col">
				<div class="ptable__cell">Silver</div>
				<div class="ptable__cell">8,5%</div>
				<div class="ptable__cell">2,5%</div>
				<div class="ptable__cell">1%</div>
			</div>
			<div class="ptable__col">
				<div class="ptable__cell">Gold</div>
				<div class="ptable__cell">11%</div>
				<div class="ptable__cell">3,5%</div>
				<div class="ptable__cell">1,5%</div>
			</div>
			<div class="ptable__col">
				<div class="ptable__cell">Platinum</div>
				<div class="ptable__cell">15%</div>
				<div class="ptable__cell">5%</div>
				<div class="ptable__cell">2%</div>
			</div>
			<div class="ptable__col">
				<div class="ptable__cell">Diamond</div>
				<div class="ptable__cell">18%</div>
				<div class="ptable__cell">7%</div>
				<div class="ptable__cell">3%</div>
			</div>
		</div>
		<!--end program table-->
		<p class="pprog__descr-bottom">
			* Вознаграждение рассчитывается от чистой прибыли клиента, без учета взврта тела депозита. Начисление и выплата вознаграждения происходит еженедельно при начислении прибыликлиентам. Вывод доступен в любой момент.
		</p>
		<a href="#" class="btn pprog__btn-reg">Зарегистрироваться</a>
	</div>
</div>
<!--end partner-prog-->

		


<!-- 	{# variable example #}
	<h1>{{title}}</h1>

	
	{# partial example #}
	{% include "partials/_header.html" %}

	{# mixin example #}
	{{mixins.icon('facebook')}}


	{# data usage example #}
		{% import "data/data.html" as tests %}
		
		{% for test in tests.list %}
		<li>{{test.title}}</li>
		{% endfor %}
		{# end of example #} -->


		{% endblock %}
