<header class="header">
	<!--begin l-->
	<div class="l">
		<div class="header__inner">
		<div class="header__logo">
				<a href="#">
					<img src="img/logo.png" alt="logo">
				</a>
			</div>
			<div class="menu-btn"><span></span></div>
			<div class="header__menu">
				<a class="active" href="#">Главная</a>
				<a href="#">О компании</a>
				<a href="#">Инвесторам</a>
				<a href="#">Партнерам</a>
				<a href="#">Обратная связь</a>
			</div>
			<div class="header__user">
				<a class="login" href="#">Вход    </a>
				<span>/</span>
				<a class="registration" href="#">   Регистрация</a>
				<a class="vk" href="#" style="background-image: url('img/vk.png');"></a>
			</div>

		</div>
	</div>
	<!--end l-->

</header>