<header class="header">
	<!--begin l-->
	<div class="l">
		<div class="header__inner">
			<div class="header__logo">
				<a href="#">
					<img src="img/logo.png" alt="logo">
				</a>
			</div>
			<div class="menu-btn js-menu-btn"><span></span></div>
			<div class="header__drop-mob js-drop-mob">
				<div class="header__menu">
					<a class="js-scroll active" data-scroll="js-fscreen" class="active" href="#">Главная</a>
					<a class="js-scroll" data-scroll="js-about" href="#">О компании</a>
					<a class="js-scroll" data-scroll="js-plans" href="#">Инвесторам</a>
					<a class="js-scroll" data-scroll="js-pprog" href="#">Партнерам</a>
					<a class="js-scroll" data-scroll="js-callback" href="#">Обратная связь</a>
				</div>
				<div class="header__user">
					<a class="login" href="#">Вход    </a>
					<span>/</span>
					<a class="registration" href="#">   Регистрация</a>
					<a class="vk" href="#" style="background-image: url('img/vk.png');"></a>
				</div>
			</div>

		</div>
	</div>
	<!--end l-->

</header>