<!--begin popup-->
<div class="popup js-popup-regisr" >
	<div class="popup__overlay js-popup-overlay">
		<div class="popup__content js-popup-content">
			<div class="popup__close js-close"></div>
			<p class="popup__title">Регистрация</p>
			<p class="popup__text">Заполните простую заявку <br>
				чтобы зарегистрироваться на сайте
			</p>
			<div class="pform">
				<form >
					<input class="pfield" type="text" placeholder="Ваше имя*">
					<input class="pfield" type="text" placeholder="Ваш E-mail*">
					<button class="psubmit" type="submit">Отправить</button>
				</form>
			</div>
			<p class="popup__requir-text"><span>*</span> - поля обязательные для заполнения
			</p>
		</div>
	</div>
</div>
<!--end popup-->
<!--begin popup-->
<div class="popup js-popup-callback">
	<div class="popup__overlay js-popup-overlay">
		<div class="popup__content js-popup-content">
			<div class="popup__close js-close"></div>
			<p class="popup__title">Заказ обратного звонка</p>
			<p class="popup__text">Заполните простую заявку <br>
				чтобы получить обратный звонок
			</p>
			<div class="pform">
				<form >
					<input class="pfield" type="text" placeholder="Ваше имя">
					<input class="pfield" type="text" placeholder="Ваш телефон">
					<button class="psubmit" type="submit">Перезвоните мне</button>
				</form>
			</div>
		</div>
	</div>
</div>
<!--end popup-->
<!--begin popup-->
<div class="popup js-popup-thanks">
	<div class="popup__overlay js-popup-overlay">
		<div class="popup__content js-popup-content">
			<div class="popup__close js-close"></div>
			<p class="popup__title">Спасибо</p>
			<p class="popup__title-sec">Ваши данные получены
			</p>
			<p class="popup__text-big">Мы свяжемся с Вами <br>
				в ближайшее время
			</p>
		</div>
	</div>
</div>
<!--end popup-->
