<!--begin popup-->
<div class="popup js-popup js-popup-login" >
	<div class="popup__overlay js-popup-overlay">
	</div>
	<div class="popup__content js-popup-content">
		<div class="popup__close js-close-popup"></div>
		<p class="popup__title">Вход</p>
		<p class="popup__text">Заполните форму
			входа
		</p>
		<div class="pform">
			<form class="js-reg-form" >
				<input class="pfield" required type="text" placeholder="Ваше имя*">
				<input class="pfield" required type="text" placeholder="Ваш E-mail*">
				<button class="psubmit" type="submit">Войти</button>
			</form>
		</div>
		<a class="rememb js-popup-link" data-popup-open="js-popup-rememb" href="#">Забыли пароль?</a>
		<a class="preg" href="https://eva-group.net/sign-up" >   Регистрация</a>
<!-- 		<p class="popup__requir-text"><span>*</span> - поля обязательные для заполнения
</p> -->
</div>
</div>
<!--end popup-->
<!--begin popup-->
<div class="popup js-popup js-popup-rememb" >
	<div class="popup__overlay js-popup-overlay">
	</div>
	<div class="popup__content js-popup-content">
		<div class="popup__close js-close-popup"></div>
		<p class="popup__title">ВОССТАНОВЛЕНИЕ ПАРОЛЯ</p>
		<p class="popup__text">Для восстановления пароля введите свой логин в форму ниже и Вам 
			будет выслано письмо с подтверждением восстановления пароля.
		</p>
		<div class="pform">
			<form class="js-rememb-form" >
				<input class="pfield" required type="text" placeholder="Логин">
				<button class="psubmit" type="submit">Восстановить</button>
			</form>
		</div>
<!-- 		<p class="popup__requir-text"><span>*</span> - поля обязательные для заполнения
</p> -->
</div>
</div>
<!--end popup-->
<!--begin popup-->
<div class="popup  js-popup js-popup-callback">
	<div class="popup__overlay js-popup-overlay">
	</div>
	<div class="popup__content js-popup-content">
		<div class="popup__close js-close-popup"></div>
		<p class="popup__title">Заказ обратного звонка</p>
		<p class="popup__text">Заполните простую заявку <br>
			чтобы получить обратный звонок
		</p>
		<div class="pform">
			<form >
				<input class="pfield" type="text" required placeholder="Ваше имя">
				<input class="pfield" type="text" required placeholder="Ваш телефон">
				<button class="psubmit" type="submit">Перезвоните мне</button>
			</form>
		</div>
	</div>
</div>
<!--end popup-->
<!--begin popup-->
<div class="popup js-popup js-popup-thanks">
	<div class="popup__overlay js-popup-overlay">
	</div>
	<div class="popup__content js-popup-content">
		<div class="popup__close js-close-popup"></div>
		<p class="popup__title">Спасибо</p>
		<p class="popup__title-sec">Ваши данные получены
		</p>
		<p class="popup__text-big">Мы свяжемся с Вами <br>
			в ближайшее время
		</p>
	</div>
</div>
<!--end popup-->
