{% set 
	list = [
	{
	img: 'hexagon1',
	mainText: 'До 28% прибыли',
	secText: 'со своей структуры'
},
{
	img: 'hexagon2',
	mainText: 'До 37% в месяц',
	secText: 'с еженедельной выплатой'
},
{
	img: 'hexagon3',
	mainText: 'До 10% на счет',
	secText: 'в течении 24 часов'
}
] 
%}
{% set 
	stat = [
	{
	mainText: '1000',
	secText: 'довольных клиентов'
},
{
	mainText: '8',
	secText: 'опыта в сфере инвестирования'
},
{
	mainText: '50',
	secText: 'партнеров по всему миру'
},
{
	mainText: '30',
	secText: 'новых клиентов ежедневно'
}
] 
%}
{% set 
	about = [
	{
	img: 'about1',
	text: 'Команда профессионалов'
},
{
	img: 'about2',
	text: 'Проверенные временем стратегии'
},
{
	img: 'about3',
	text: 'Диверсификация доходов'
},
{
	img: 'about4',
	text: 'Еженедельное начисление прибыли'
},
{
	img: 'about5',
	text: 'Широкий список платежных систем'
}
] 
%}
{% set 
	plans = [
	{
	name: 'Bronze',
	perc: '4.5%',
	deposit: '50',
	profit: '18% / мес',
	partner: 'до 9% от прибыли'
},
{
	name: 'Silver',
	perc: '5.75%',
	deposit: '100',
	profit: '23% / мес',
	partner: 'до 9% от прибыли'
},
{
	name: 'Gold',
	perc: '6.75%',
	deposit: '300',
	profit: '27% / мес',
	partner: 'до 16% от прибыли'
},
{
	name: 'Platinum',
	perc: '8%',
	deposit: '1000',
	profit: '32% / мес',
	partner: 'до 22% от прибыли'
},
{
	name: 'Diamond',
	perc: '9.25%',
	deposit: '5000',
	profit: '37% / мес',
	partner: 'до 28% от прибыли'
}
] 
%}