{% set 
	list = [
	{
	img: 'hexagon1',
	mainText: 'До 28% прибыли',
	secText: 'со своей структуры'
},
{
	img: 'hexagon2',
	mainText: 'До 37% в месяц',
	secText: 'с еженедельной выплатой'
},
{
	img: 'hexagon3',
	mainText: 'До 10% на счет',
	secText: 'в течении 24 часов'
}
] 
%}
{% set 
	stat = [
	{
	mainText: '1000+',
	secText: 'довольных клиентов'
},
{
	mainText: '8+',
	secText: 'опыта в сфере инвестирования'
},
{
	mainText: '50+',
	secText: 'партнеров по всему миру'
},
{
	mainText: '30+',
	secText: 'новых клиентов ежедневно'
}
] 
%}
{% set 
	about = [
	{
	img: 'about1',
	text: 'Команда профессионалов'
},
{
	img: 'about2',
	text: 'Проверенные временем стратегии'
},
{
	img: 'about3',
	text: 'Диверсификация доходов'
},
{
	img: 'about4',
	text: 'Еженедельное начисление прибыли'
},
{
	img: 'about5',
	text: 'Широкий список платежных систем'
}
] 
%}